<! DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <title> Cart </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js}">
    <link rel='stylesheet' th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
    <link rel='stylesheet' th:href="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js}">
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/cartStyle.css}">
</head>

<body>
<div class="container d-flex justify-content-center mt-50 mb-50">
<div class="card">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col">
                        <img src="Poze/Logo.svg" width="45" alt="" class="d-inline-block align-middle mr-2" id="noMarginLeft">
                        <img style="margin-top: 7px;" src="Poze/LogoScris.svg" width="65" alt="" class="d-inline-block align-middle mr-2">
                    </div>
                    <div class="col align-self-center text-right text-muted" th:text="${produse.size()} + ' items'"></div>
                </div>
            </div>
            <div th:each="produs:${produse}" class="row border-top border-bottom">
                <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" th:src="'/Poze/'+${produs.name}+'.png'"></div>
                    <div class="col">
                        <div class="row text-muted" th:text="${produs.category}"></div>
                        <div class="row" th:text="${produs.name}"></div>
                    </div>
                    <div class="col"> <a href="#">-</a><a href="#" class="border" th:text="${produs.quantity}"></a><a href="#">+</a> </div>
                    <div class="col" th:text="${produs.price}+'$'">&#36; <span class="close">&#10005;</span></div>
                </div>
            </div>
            <div class="back-to-shop"><a href="/clientHome">&leftarrow;<span class="text-muted">Back to shop</span></a></div>
        </div>
        <div class="col-md-4 summary">
            <div>
                <h5><b>Summary</b></h5>
            </div>
            <hr>
            <div class="row" style="margin-top:25px">
            </div>

            <div class="row">
                <div class="col">TOTAL PRICE</div>
                <div class="col text-right" th:text="${prettotal}+'$'">    &#36;</div>
            </div> <a href="/cartButton"><button class="btn btn-outline-danger">CHECKOUT</button></a>
        </div>
    </div>
</div>
</div>
</body>

</html>
